In [1]:
from math import sqrt
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings_sample.csv')

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df[
    'title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

C:\Users\Saman\AppData\Local\Temp\ipykernel_12336\863525776.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  'title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

### دراپ کن ژانر هارو چون اصن ژانر برام مهم نیست

In [7]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

C:\Users\Saman\AppData\Local\Temp\ipykernel_12336\37422046.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  movies_df = movies_df.drop('genres', 1)

### شکل و شیپ دیتاست مویز که ژانر ها حذف گردیده هست.

In [12]:
movies_df.head()
# movies_df.shape

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [11]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

### دراپ کردن ویژگی تایم از دیتاست ریتینگ و امتیازی

In [14]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

C:\Users\Saman\AppData\Local\Temp\ipykernel_12336\1971122656.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings_df = ratings_df.drop('timestamp', 1)

In [15]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

### مشخصات افراد و فیلم های ریتینگ شده

In [16]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

### اون فیلم هایی که دوست داشته را جدا کن + حذف سال از دیتاست

In [17]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

C:\Users\Saman\AppData\Local\Temp\ipykernel_12336\2035672847.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

### آدم های شبیه به اون فردی که آن فیلم رو دیده

In [20]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()
# userSubset.shape

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

### یوزر هارو جدا کردیم . تمام ریت هایی که یوزر ها داده اند نسبت به فیلم هایی

In [21]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

In [22]:
userSubsetGroup.get_group(13)

     userId  movieId  rating
479      13        2     2.0
531      13     1274     5.0

### مرتب کردن آدم ها بر حسب تعداد فیلم مشترک

In [23]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [25]:
userSubsetGroup[0:5]

[(75,
        userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0),
 (106,
        userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5),
 (686,
         userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0),
 (815,
         userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74362     815     1274     3.0
  74678     815     1968     4.5),
 (1040,
         userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96859    1040     1274     3.0
  96922    1040     1968     4.0)]

### با استفاده از روشی فاصله بین آدمای مشترک رو حساب کرده.
###  محاسبه روش وابستگی پیرسون

In [30]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [32]:
pearsonCorrelationDict

{75: 0.8272781516947562,
 106: 0.5860090386731182,
 686: 0.8320502943378437,
 815: 0.5765566601970551,
 1040: 0.9434563530497265,
 1130: 0.2891574659831201,
 1502: 0.8770580193070299,
 1599: 0.4385290096535153,
 1625: 0.716114874039432,
 1950: 0.179028718509858,
 2065: 0.4385290096535153,
 2128: 0.5860090386731196,
 2432: 0.1386750490563073,
 2791: 0.8770580193070299,
 2839: 0.8204126541423674,
 2948: -0.11720180773462392,
 3025: 0.45124262819713973,
 3040: 0.89514359254929,
 3186: 0.6784622064861935,
 3271: 0.26989594817970664,
 3429: 0.0,
 3734: -0.15041420939904673,
 4099: 0.05860090386731196,
 4208: 0.29417420270727607,
 4282: -0.4385290096535115,
 4292: 0.6564386345361464,
 4415: -0.11183835382312353,
 4586: -0.9024852563942795,
 4725: -0.08006407690254357,
 4818: 0.4885967564883424,
 5104: 0.7674257668936507,
 5165: -0.4385290096535153,
 5547: 0.17200522903844556,
 6082: -0.04728779924109591,
 6207: 0.9615384615384616,
 6366: 0.6577935144802716,
 6482: 0.0,
 6530: -0.3516054232038709,
 7235: 0.6981407669689391,
 7403: 0.11720180773462363,
 7641: 0.7161148740394331,
 7996: 0.626600514784504,
 8008: -0.22562131409856986,
 8086: 0.6933752452815365,
 8245: 0.0,
 8572: 0.8600261451922278,
 8675: 0.5370861555295773,
 9101: -0.08600261451922278,
 9358: 0.692178738358485,
 9663: 0.193972725041952,
 9994: 0.5030272728659587,
 10248: -0.24806946917841693,
 10315: 0.537086155529574,
 10368: 0.4688072309384945,
 10607: 0.41602514716892186,
 10707: 0.9615384615384616,
 10863: 0.6020183016345595,
 11314: 0.8204126541423654,
 11399: 0.517260600111872,
 11769: 0.9376144618769914,
 11827: 0.4902903378454601,
 12069: 0.0,
 12120: 0.9292940047327363,
 12211: 0.8600261451922278,
 12325: 0.9616783115081544,
 12916: 0.5860090386731196,
 12921: 0.6611073566849309,
 13053: 0.9607689228305227,
 13142: 0.6016568375961863,
 13260: 0.7844645405527362,
 13366: 0.8951435925492911,
 13768: 0.8770580193070289,
 13888: 0.2508726030021272,
 13923: 0.3516054232038718,
 13934: 0.17200522903844556,
 14529: 0.7417901772340937,
 14551: 0.537086155529574,
 14588: 0.21926450482675766,
 14984: 0.716114874039432,
 15137: 0.5860090386731196,
 15157: 0.9035841064985974,
 15466: 0.7205766921228921,
 15670: 0.516015687115336,
 15834: 0.22562131409856986,
 16292: 0.6577935144802716,
 16456: 0.7161148740394331,
 16506: 0.5481612620668942,
 17246: 0.48038446141526137,
 17438: 0.7093169886164387,
 17501: 0.8168748513121271,
 17502: 0.8272781516947562,
 17666: 0.7689238340176859,
 17735: 0.7042381820123422,
 17742: 0.3922322702763681,
 17757: 0.64657575013984,
 17854: 0.537086155529574,
 17897: 0.8770580193070289,
 17944: 0.2713848825944774,
 18301: 0.29838119751643016,
 18509: 0.1322214713369862,
 18765: 0.8320502943378437,
 18905: -0.0661107356684931,
 19208: 0.6020183016345586,
 19381: 0.14135069854804388,
 19607: 0.8320502943378437,
 19890: 0.7520710469952329,
 20278: 0.8056292332943623,
 20319: -0.11720180773462392,
 20341: 0.877058019307029,
 20444: 0.6768639422957096,
 20650: 0.9866902717204096,
 20708: -0.41602514716892186,
 20759: 0.6020183016345595,
 20838: 0.0,
 20969: 0.2580078435576683,
 21023: 0.8038925870986305,
 21148: 0.8807048459279793,
 21242: 0.8141546477834322,
 21362: 0.22562131409856986,
 21473: 0.6864064729836442,
 21475: 0.827278151694757,
 21819: 0.840548475181792,
 22043: 0.7520710469952329,
 22180: 0.4512426281971402,
 22883: 0.29417420270727607,
 22950: 0.46265194557299216,
 22952: 0.526449732896663,
 23297: 0.716114874039432,
 23332: 0.711233325153824,
 23437: 0.716114874039432,
 23467: 0.806225774829855,
 23534: -0.4385290096535115,
 23562: 0.7674257668936518,
 23600: 0.358057437019716,
 23815: 0.22562131409856986,
 24692: 0.29268470350248177,
 24846: 0.35805743701971654,
 25090: 0.4688072309384957,
 25488: 0.7042381820123422,
 25760: 0.40782369514309286,
 25778: 0.22562131409856986,
 25793: -0.31803907173309875,
 25799: 0.9457559848219182,
 25930: 0.21926450482675575,
 26155: 0.21926450482675722,
 26516: 0.5847053462046866,
 26602: 0.26989594817970664,
 27131: 0.179028718509858,
 27160: 0.6361464251628642,
 27177: 0.8807048459279793,
 27255: 0.4385290096535145,
 27281: 0.08006407690254357,
 27583: 0.537086155529574,
 27638: 0.6864064729836442,
 27719: 0.46277514967945166,
 27988: 0.3922322702763681,
 28012: 0.6564386345361464,
 28170: -0.16984155512168936,
 28670: 0.840548475181792,
 28755: 0.8984681855808223,
 29118: 0.6784622064861935,
 29178: 0.7689238340176859,
 29218: 0.840548475181792,
 29300: 0.05860090386731196,
 29353: 0.8272781516947562,
 29369: 0.774023530673005,
 29520: 0.34633002829842735,
 29653: 0.827278151694757,
 29743: 0.30082841879809313,
 30029: 0.96986362520976,
 30365: 0.3516054232038709,
 30642: 0.0,
 30651: 0.878275310689946,
 30758: 0.526449732896663,
 30771: 0.774023530673005,
 30853: 0.6147413901342469,
 31542: 0.44965838938680786,
 31583: 0.358057437019716,
 31605: 0.4688072309384956,
 31920: 0.657793514480273,
 32419: -0.21926450482675575,
 32466: 0.20391184757154632,
 32599: 0.452603025097888,
 32738: 0.2644429426739724,
 33120: 0.5661385170722978,
 33121: 0.8594395636904102,
 33509: 0.711233325153824,
 33521: 0.45124262819713973,
 33797: 0.8713121398246098,
 33945: 0.9460287597114506,
 34234: 0.5860090386731182,
 34945: 0.5288858853479448,
 34978: 0.526449732896663,
 35189: 0.4688072309384945,
 35213: 0.4385290096535145,
 35315: 0.6880209161537812,
 35900: 0.11720180773462363,
 35964: 0.8518740546199821,
 36264: 0.8807048459279793,
 36711: 0.9866902717204075,
 36933: 0.10963225241337883,
 36936: 0.8272781516947562,
 36946: 0.46277514967945166,
 36985: -0.3440104580768906,
 37139: 0.9370614600819804,
 37148: -0.43852900965351443,
 37197: 0.8320502943378437,
 37311: 0.4385290096535153,
 37725: 0.8770580193070306,
 37855: 0.8498365855987974,
 37887: 0.08006407690254357,
 38004: 0.29838119751643016,
 38200: 0.7674257668936502,
 38304: 0.5860090386731196,
 38318: 0.8770580193070289,
 38445: 0.7161148740394363,
 38450: 0.08006407690254357,
 38734: 0.6465757501398395,
 38813: -0.17902871850985827,
 38875: 0.7666866491579839,
 38957: 0.21926450482675766,
 38986: 0.8951435925492914,
 39123: 0.179028718509858,
 39142: -0.06296909605425953,
 39163: 0.3827795011754764,
 39252: 0.7205766921228921,
 39273: 0.5765566601970551,
 39283: 0.0,
 39595: 0.9255502993589033,
 39677: 0.8770580193070306,
 39746: 0.9446561113394428,
 39794: 0.8204126541423674,
 39969: 0.657793514480273,
 39994: 0.7557086549031784,
 40527: 0.9776923610938028,
 40567: 0.774023530673004,
 40801: 0.31253815395899703,
 41061: 0.1386750490563073,
 41373: 0.8594395636904109,
 41458: 0.5084751798731266,
 41488: 0.11720180773462363,
 41714: 0.7674257668936502,
 41746: 0.0,
 41886: 0.80968784453912,
 17: -0.3458572319330373,
 114: 0.6363636363636364,
 122: 0.24902912254587614,
 217: 0.8819171036881969,
 222: 0,
 241: -0.3799802978286742,
 277: 0.8703882797784892,
 340: 0.8703882797784892,
 373: 0.723746864455746,
 393: 0.592156525463792,
 407: 0.6446583712203042,
 432: 0.8528028654224418,
 447: 0.5222329678670935,
 461: 0.7385489458759964,
 479: -0.8007572173962101,
 534: 0.8553372034476997,
 558: 0.899228803025897,
 584: -0.09090909090909091,
 599: 0.9869275424396534,
 627: 0.7856742013183862,
 670: 0.30151134457776363,
 784: 0.9655810287305759,
 899: 0.8866206949335731,
 904: 0.8181818181818182,
 927: 0.6625413488689132,
 938: -0.4573295603800236,
 974: -0.9428090415820635,
 1066: 0.9650595721775965,
 1107: 0.9198662110077999,
 1152: 0.4923659639173309,
 1200: 0.9438798074485389,
 1204: 0.30151134457776363,
 1255: 1.0,
 1414: 0.90694099390581,
 1519: 0.9710607611177229,
 1607: -0.6363636363636364,
 1629: 0.8058229640253802,
 1643: 0.6288082227054205,
 1667: -0.6377928041432807,
 1785: 0.764093177458341,
 1824: 0.8017837257372732,
 1848: -0.6363636363636364,
 1895: -0.1873171623163388,
 1966: 0.8819171036881969,
 2106: 0.4923659639173309,
 2108: 0.7526178090063816,
 2115: 0.5222329678670935,
 2120: 0.6288082227054205,
 2130: 0.9045340337332908,
 2204: 0.6363636363636364,
 2214: -0.27701734442577747,
 2278: 0.899954085146515,
 2328: 0.0,
 2397: 0.5222329678670935,
 2404: 0.4788611546444422,
 2473: 0.7237468644557459,
 2596: 0.8528028654224418,
 2625: -0.45454545454545453,
 2711: 0.9438798074485389,
 2726: 0.7715167498104595,
 2741: -0.3133397807202561,
 2795: 0.7385489458759964,
 2942: 0.47140452079103173,
 2945: -0.7385489458759964,
 2964: 0.8528028654224418,
 2982: 0.899228803025897,
 2999: 0.8476290894688449,
 3013: 0.47140452079103173,
 3051: 0.9341484842923421,
 3089: -0.5222329678670935,
 3116: 0.7122123116119197,
 3127: 0.0657951694959769,
 3176: 0.6363636363636364,
 3281: 0.8866206949335731,
 3358: -0.12666009927622474,
 3361: -0.8660254037844387,
 3380: 0.6225430174794672,
 3388: 0.5509080804800992,
 3392: -0.3779644730092272,
 3415: 0.978231976089037,
 3520: 0.47140452079103173,
 3533: 0.6897007348075542,
 3647: 0.47140452079103173,
 3720: 0.8528028654224418,
 3810: -0.045980048987170286,
 3817: 0.8703882797784892,
 3918: -0.3746343246326776,
 3995: 0.408248290463863,
 4009: 0.674199862463242,
 4072: 0.9869275424396534,
 4079: 0.8861418804606043,
 4272: -0.30151134457776363,
 4284: 0.9045340337332909,
 4328: 0.9045340337332909,
 4368: -0.502518907629606,
 4421: 0.5222329678670935,
 4458: 0.6625413488689132,
 4572: 0.674199862463242,
 4628: 0.8058229640253802,
 4644: 0.9511897312113419,
 4663: 0.4364357804719848,
 4678: 0.0,
 4697: 0.45454545454545453,
 4733: 0.0,
 4746: 0.09090909090909091,
 4778: 0.8866206949335731,
 4784: 0.17407765595569785,
 4789: 0.6446583712203042,
 4810: -0.4923659639173309,
 4827: 0.17407765595569785,
 4847: 1.0,
 4975: 0.3458572319330373,
 4992: 0.8528028654224418,
 5040: -0.3779644730092272,
 5045: -0.9428090415820635,
 5131: 0.8001322641986387,
 5133: 0.2886751345948129,
 5159: 0.502518907629606,
 5172: 0.30151134457776363,
 5213: 0.17407765595569785,
 5326: -0.18257418583505536,
 5327: 0.6363636363636364,
 5421: 0.7644707871564383,
 5531: -0.9047619047619048,
 5576: 0.8528028654224418,
 5630: -0.5222329678670935,
 5687: 0.9759000729485332,
 5716: -0.6236095644623235,
 5763: -0.7644707871564383,
 5783: 0.731126155013931,
 5833: 0.8819171036881969,
 5857: 0.8861418804606043,
 5913: 0.592156525463792,
 5919: 0.9511897312113419,
 5986: 0.899228803025897,
 6149: 0.19738550848793068,
 6157: 0.9914601339836673,
 6199: 0.7644707871564383,
 6237: 0.5222329678670935,
 6247: 0.7458152383799166,
 6259: 0.7385489458759964,
 6296: 0.8641167436739938,
 6308: -0.17407765595569785,
 6359: 0.8164965809277261,
 6390: 0.9045340337332909,
 6420: 0.8528028654224418,
 6438: 0.8528028654224418,
 6506: 0.7715167498104595,
 6581: 0.760885910252682,
 6590: 0.9166023347994703,
 6601: 0.674199862463242,
 6606: 0.30151134457776363,
 6617: 0.9506541513652699,
 6687: 0.8510644963469901,
 6701: -0.5222329678670935,
 6782: 0.45454545454545453,
 6791: 0.9456108576893003,
 6934: 0.674199862463242,
 6952: -0.17407765595569785,
 7027: 0.9799578870122228,
 7132: 0,
 7135: 0.7385489458759964,
 7141: 0.9813358399735744,
 7154: 0.9028289727756884,
 7165: -0.058025885318565944,
 7220: 0.9258200997725514,
 7243: 0.8181818181818182,
 7298: 0.6363636363636364,
 7345: -0.13801311186847084,
 7377: 0.6666666666666666,
 7388: 0.9759000729485332,
 7395: 0.12666009927622474,
 7528: 0.9597599188661681,
 7618: 0.7816608327818948,
 7673: 0.9445009854081414,
 7684: 0.8703882797784892,
 7721: 0.8703882797784892,
 7757: 0.760885910252682,
 7915: 0.8528028654224418,
 7947: 0.4714045207910317,
 7968: 0.9258200997725514,
 7988: 0.9864400504156211,
 8074: 0.45454545454545453,
 8190: 0.9045340337332909,
 8217: -0.5222329678670935,
 8258: 0,
 8259: -0.5,
 8333: 0.592156525463792,
 8342: -0.09090909090909091,
 8386: 0.7816608327818948,
 8405: 0.8703882797784892,
 8481: 0.7237468644557459,
 8519: -0.4082482904638631,
 8528: -0.07312724241271307,
 8631: -0.2721655269759087,
 8654: -0.723746864455746,
 8687: 0,
 8730: 0.3799802978286742,
 8771: 0.8703882797784892,
 8866: 1.0,
 8984: -0.12666009927622474,
 9021: 0.7715167498104595,
 9030: 0.7008255578851517,
 9036: 0.8017837257372732,
 9048: 0,
 9051: 0.5222329678670935,
 9145: 0.9198662110077999,
 9167: -0.3779644730092272,
 9240: 0.8528028654224418,
 9250: 0.8854220041514329,
 9310: 0.4923659639173309,
 9487: -0.5222329678670935,
 9511: 0.7385489458759964,
 9573: 0.9597599188661681,
 9583: 0.6363636363636364,
 9643: 0.0657951694959769,
 9658: 0.760885910252682,
 9688: 0.674199862463242,
 9710: 0.8021806287494233,
 9721: 0.9914601339836673,
 9723: 0.899228803025897,
 9777: 0.4923659639173309,
 9795: 0.760885910252682,
 9797: -0.12451456127293807,
 9823: 0.8528028654224418,
 9862: 0.8528028654224418,
 9880: 0.6236095644623235,
 9902: 0.5222329678670935,
 9944: 0.1543033499620919,
 9970: -0.8439373293244814,
 9987: 0,
 10030: 0.6673083711820306,
 10082: 0.8528028654224418,
 10086: 0.7302967433402214,
 10106: 0.9869275424396534,
 10131: 0.16666666666666666,
 10143: 0.8728715609439696,
 10158: -0.7856742013183862,
 10210: 0.9759000729485332,
 10236: 0.8819171036881969,
 10240: 0.4364357804719848,
 10325: -0.19069251784911845,
 10452: 0.6363636363636364,
 10468: 0.674199862463242,
 10475: -0.760885910252682,
 10505: 0.5222329678670935,
 10565: 0.4573295603800236,
 10580: 0.4923659639173309,
 10602: -0.9864400504156211,
 10619: 0.8728715609439696,
 10661: 0.6446583712203042,
 10666: 0.10223972648864954,
 10671: 0.47140452079103173,
 10687: 0.8703882797784892,
 10743: -0.2075143391598224,
 10790: -0.4082482904638631,
 10838: -0.5222329678670935,
 10853: 0.9847319278346618,
 10865: 0.9045340337332909,
 10907: 0.8017837257372732,
 10939: -0.05006261743217589,
 10945: 0.8017837257372732,
 10996: 0.7979249985750353,
 11016: 0.0,
 11076: 0.9660917830792959,
 11088: 0.9045340337332909,
 11135: 0.9869275424396534,
 11182: 0.9660917830792959,
 11269: 0.41382044088453257,
 11284: -0.09090909090909091,
 11332: -0.674199862463242,
 11357: 0.592156525463792,
 11398: -0.629940788348712,
 11442: 0.45454545454545453,
 11523: 0.6363636363636364,
 11584: 0.8510644963469901,
 11596: 0.5773502691896258,
 11641: -0.5918640302493726,
 11705: 0.14213381090374028,
 11778: 0.20998026278290402,
 11794: 0.9045340337332909,
 11835: 0.9341484842923421,
 11900: -0.6900655593423543,
 11905: -0.12786929232189112,
 11969: -0.5222329678670935,
 11990: 0.45454545454545453,
 12017: -0.9045340337332909,
 12076: 0.4629100498862757,
 12091: 1.0,
 12121: 0.8181818181818182,
 12163: 0.8703882797784892,
 12282: 0.7715167498104595,
 12298: 0.4385130686509592,
 12334: 0.9847319278346618,
 12430: 0.9683296637314885,
 12443: -0.5,
 12460: -0.4629100498862757,
 12512: 0.9864400504156211,
 12520: 0.9071245473308897,
 12528: 0.8660254037844387,
 12535: 0.9438798074485389,
 12616: -0.8181818181818182,
 12623: 0.9864400504156211,
 12641: 0.2548235957188128,
 12692: -0.09090909090909091,
 12697: 0.45454545454545453,
 12720: -0.24618298195866545,
 12728: 0.9869275424396535,
 12733: -0.8528028654224418,
 12748: 0.6363636363636364,
 12808: 0.45454545454545453,
 12910: 0.47140452079103173,
 12922: 0.9869275424396534,
 12966: 0.8641167436739938,
 12993: 0.0,
 13062: 0.30151134457776363,
 13196: 0.4302372050089719,
 13204: -0.6288082227054205,
 13280: -0.09090909090909091,
 13321: 0.9650595721775965,
 13340: 0.9959100033104787,
 13342: 0.8819171036881969,
 13376: 0.9428090415820635,
 13444: 0.760885910252682,
 13490: 0.8181818181818182,
 13517: 0.47140452079103173,
 13560: 0.8819171036881969,
 13604: 0.30151134457776363,
 13608: 1.0,
 13614: 0.464420364012824,
 13654: 0.9534625892455922,
 13704: 0.36563621206356534,
 13718: 0.8473185457363235,
 13731: 0.30151134457776363,
 13764: 0.6581451817144176,
 13879: 0.8181818181818182,
 13935: 0.90267093384844,
 14048: -0.2548235957188128,
 14063: -0.09090909090909091,
 14067: 0.8473185457363235,
 14095: 0.9045340337332908,
 14147: 0.36932414332263847,
 14257: -0.5222329678670935,
 14355: 0.30151134457776363,
 14372: -0.5773502691896258,
 14429: 0.9438798074485389,
 14482: -0.09090909090909091,
 14514: 0.30151134457776363,
 14532: 0.8703882797784892,
 14572: 0.9683296637314885,
 14606: 0.8819171036881969,
 14613: 0.8476290894688449,
 14614: 0.9045340337332909,
 14657: 0.8703882797784892,
 14673: 0.24618298195866545,
 14703: 0.9045340337332909,
 14705: 0.5005202012851406,
 14721: 0.8703882797784892,
 14772: 0.7385489458759964,
 14860: 0.41403933560541256,
 14870: 0.674199862463242,
 14926: 0.674199862463242,
 14936: 0.7901744265512675,
 14950: 0.7035264706814485,
 14977: 0.6363636363636364,
 14978: 0.8703882797784892,
 15008: -0.4082482904638631,
 15030: 0.9945577827230723,
 15047: 0.30151134457776363,
 15145: 0.47140452079103173,
 15159: -0.1259881576697424,
 15168: 0.8473185457363235,
 15209: -0.2075143391598224,
 15210: 0.8819171036881969,
 15214: -0.4923659639173309,
 15222: -0.17407765595569785,
 15278: 0.0,
 15365: 0.8164965809277261,
 15460: 0.3289758474798845,
 15465: 0.9864400504156211,
 15483: 0.9198662110077999,
 15548: 0.2548235957188128,
 15574: 0.13483997249264842,
 15644: 0.9045340337332909,
 15679: 0.6605782590758164,
 15760: 0.2075143391598224,
 15784: 0.0,
 15851: -0.4082482904638631,
 15881: 0.9045340337332909,
 15895: 0.44543540318737396,
 15961: 0.7385489458759964,
 15980: 0.899228803025897,
 15987: 0,
 16138: 0.09928550884822428,
 16193: -0.8528028654224418,
 16239: 0.8783100656536799,
 16266: 0.6225430174794672,
 16296: 0.5222329678670935,
 16359: -0.4082482904638631,
 16360: -0.050964719143762556,
 16381: -0.8333333333333334,
 16382: 0.5222329678670935,
 16388: 0.7543365091413573,
 16421: 0.4923659639173309,
 16442: 0.30151134457776363,
 16484: 0.4061811972299616,
 16494: 0.4923659639173309,
 16499: 0.9847319278346618,
 16516: 0.8728715609439696,
 16594: 0.0,
 16599: 0.09090909090909091,
 16629: -0.7112655491946736,
 16658: 0.4082482904638631,
 16663: 0.46195657812238883,
 16670: 0.5222329678670935,
 16684: 0.4453617714151233,
 16708: 0.3465742591835731,
 16732: 0.7816608327818948,
 16798: 0.7385489458759964,
 16815: 0.7035264706814485,
 16892: 0.23652495839563303,
 16948: 0.17407765595569785,
 16957: 0.8783100656536799,
 16995: 0.058025885318565944,
 17006: -0.17407765595569785,
 17015: 0.8703882797784892,
 17116: 0.9683296637314885,
 17151: 0.8319479070496522,
 17153: 1.0,
 17206: 0.899228803025897,
 17231: 0.0,
 17305: 0.18856180831641267,
 17463: 0.7147716126616105,
 17544: 0.6625413488689132,
 17641: 0.4264014327112209,
 17660: 0.8703882797784892,
 17718: 0.592156525463792,
 17755: 0.4264014327112209,
 17761: -0.47140452079103173,
 17805: 0.502518907629606,
 17825: 0,
 17861: -0.11952286093343938,
 17863: -0.5222329678670935,
 17907: 0.9045340337332909,
 18051: 0.8181818181818182,
 18052: 0.8866206949335731,
 18154: 0.7526178090063816,
 18209: 0.8728715609439696,
 18238: 0.464420364012824,
 18298: -0.24618298195866545,
 18311: 0.9864400504156211,
 18372: -0.15289415743128767,
 18467: 0.09090909090909091,
 18495: 0.8181818181818182,
 18496: 0.9847319278346618,
 18504: 0.7106690545187014,
 18506: 0.12666009927622474,
 18526: 0.45454545454545453,
 18547: 0.47325633558050745,
 18550: 0.8473185457363235,
 18567: 0.8510644963469901,
 18661: 0.9045340337332909,
 18666: 0.9378934722869389,
 18677: 0.9045340337332909,
 18771: -0.050964719143762556,
 18802: 0.09090909090909091,
 18838: 0.8553372034476997,
 18947: 0.8819171036881969,
 18962: 0.8703882797784892,
 18988: -0.5222329678670935,
 18992: 0.4264014327112209,
 19084: 0.9438798074485389,
 19090: 0.760885910252682,
 19127: 0.30151134457776363,
 19262: 0.4061811972299616,
 19272: -0.4923659639173309,
 19296: 0.9428090415820635,
 19344: 0,
 19353: 0.8664002254439634,
 19376: 0.8553372034476997,
 19481: 0.8181818181818182,
 19495: 1.0,
 19503: -0.36932414332263847,
 19550: 0.09428090415820634,
 19567: 0.9128709291752769,
 19656: 0.899228803025897,
 19684: -0.7627700713964738,
 19788: 0,
 19790: 0.45454545454545453,
 19816: 0.9847319278346618,
 19843: 0.8717728712757794,
 19946: -0.17407765595569785,
 20031: 0.5222329678670935,
 20057: 0.09090909090909091,

### مرتب کردن و ساخت دیتا فریم بر اساس یوزر  آیدی و ایندکس شباهت

In [34]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.827278      75
1         0.586009     106
2         0.832050     686
3         0.576557     815
4         0.943456    1040

###  مرتب کردن نزولی بر اساس شباهت بین آدما و یوزر آیدی شون

In [36]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

      similarityIndex  userId
2369              1.0   20192
2850              1.0   29143
3496              1.0   40611
1709              1.0    8902
3483              1.0   40314

### ادغام کردن دوتا دیتا فریم براساس تاپ یورزام

In [38]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0   20192        1     3.5
1              1.0   20192       31     3.0
2              1.0   20192       32     5.0
3              1.0   20192       47     5.0
4              1.0   20192      110     3.0

In [39]:
topUsersRating.shape

(18557, 4)

In [41]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0   20192        1     3.5             3.5
1              1.0   20192       31     3.0             3.0
2              1.0   20192       32     5.0             5.0
3              1.0   20192       47     5.0             5.0
4              1.0   20192      110     3.0             3.0

In [42]:
topUsersRating.shape

(18557, 5)

In [43]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                       43.0               144.5
2                        7.0                20.0
3                        6.0                16.0
4                        4.0                 6.5
5                        8.0                18.5

### استفاده از فرمول حاصل جمع وزنی علاقه مندی نسبت به یک فیلم تقسیم بر میزان شباهت آدما

In [44]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.360465        1
2                                     2.857143        2
3                                     2.666667        3
4                                     1.625000        4
5                                     2.312500        5

### مرتب  سازی فیلم ها بر اساس امتیازی که کاربر ما به این فیلم ها احتمالا بدهد

In [45]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
3548                                       5.0     3548
1785                                       5.0     1785
1964                                       5.0     1964
3549                                       5.0     3549
97950                                      5.0    97950
3551                                       5.0     3551
3604                                       5.0     3604
48744                                      5.0    48744
314                                        5.0      314
3618                                       5.0     3618

### اسم ۱۰ فیلم برتری که بنابر امتیاز احتمالی به کاربر پیشنهاد میدهد

In [46]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                         title  year
311        314     Secret of Roan Inish, The  1994
1714      1785              King of New York  1990
1881      1964                         Klute  1971
3458      3548                   Auntie Mame  1958
3459      3549                Guys and Dolls  1955
3461      3551                  Marathon Man  1976
3514      3604                         Gypsy  1962
3528      3618             Small Time Crooks  2000
11408    48744                      Shortbus  2006
19876    97950  Man with the Iron Fists, The  2012